<ion-view title="Streaming">
  <ion-content class="padding">
    <div class="list card">
	<img src="khalifa-logo.png">
	</img>
	</div>
	<div class="buttons">
		<button class="button button-positive" ng-click="openModalR()">Raw Streaming</button>
  	</div>
  	<div class="buttons">
	  	<button class="button button-positive" ng-click="openModalP()">Processed Streaming</button>
	</div>
  	<div class="buttons">
	  	<button class="button button-positive" ng-click="openModalI()">IR Streaming</button>
  	</div>
  </ion-content>
</ion-view>
