<ion-view title="Processed Streaming">
  <ion-content class="padding">
    <div class="list card">
	<img src="khalifa-logo.png">
	</div>
 <ion-item class="item-toggle">
  	        Enable Processed Streaming
  	        <label class="toggle">
  	          <input type="checkbox" ng-model="settings.enabledProcessed">
  	          <div class="track">
  	            <div class="handle"></div>
  	          </div>
  	        </label>
      </ion-item>

      <div class = "list card" >
	  	<img id="video" src="http://10.0.0.105:8181/stream?topic=/site_violation_detection/image_raw" height="500" width="500">
  </ion-content>
</ion-view>
